@import '../../../../libs/front-global/base-style/base.scss';
@import '../../../../common/font/inter.css';

// @import url('https://fonts.cdnfonts.com/css/placard-next');
// testo {
//   --surface-a: #008a8a;
//   --surface-b: #008a8a;
//   --surface-c: #43c2c2;
//   --surface-d: #46ffff;
//   --surface-e: #c0ffff;
//   --surface-f: #ffffff;
//   --text-color: #212529;
//   --text-color-inverse: #f6fbff;
//   --text-color-secondary: #6c757d;
//   --primary-color-hover: #003333;
//   --primary-color: #008a8a;
//   --primary-color-text: #ffffff;
//   --font-family-primary: 'Pretendard Variable', arial, sans-serif;

//   //'Placard Next',
//   --font-family-secondary: 'Pretendard Variable', system-ui, -apple-system,
//     BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   /* --font-family-primary: 'Pretendard Variable'; */
//   --surface-0: #ffffff;
//   --surface-50: #f9fafb;
//   --surface-100: #f8f9fa;
//   --surface-200: #e9ecef;
//   --surface-300: #dee2e6;
//   --surface-400: #ced4da;
//   --surface-500: #adb5bd;
//   --surface-600: #6c757d;
//   --surface-700: #495057;
//   --surface-800: #343a40;
//   --surface-900: #212529;
//   --gray-50: #f9fafb;
//   --gray-100: #f8f9fa;
//   --gray-200: #e9ecef;
//   --gray-300: #dee2e6;
//   --gray-400: #ced4da;
//   --gray-500: #adb5bd;
//   --gray-600: #6c757d;
//   --gray-700: #495057;
//   --gray-800: #343a40;
//   --gray-900: #212529;
//   --content-padding: 1.25rem;
//   --inline-spacing: 0.5rem;
//   --border-radius: 2px;
//   --surface-ground: #46ffff;
//   --surface-section: #46ffff;
//   --surface-card: #46ffff;
//   --surface-overlay: #46ffff;
//   --surface-border: #46ffff;
//   --surface-hover: #46ffff;
//   --maskbg: rgba(0, 0, 0, 0.4);
//   --focus-ring: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
//   color-scheme: light;
// }
@mixin darktema {
  --primary-color: #008a8a;
  --primary-color-text: #43c2c2;
  --primary-color-bg-text: #43c2c2;
  --primary-color-card-bg: #033535;
  --primary-color-card-bg-text: #43c2c2;
  --primary-color-bg-hover: #46ffff;
  --primary-color-fg-hover: rgb(0, 0, 0);
  --primary-color-bg-active: #023b3b;
  --primary-color-fg-active: #ffffff;
  --primary-color-hover: #023b3b;

  --bg-surface: #121416;
  --bg-1: #22262d;
  --bg-2: #4d5053;
  --bg-3: #636669;
  --border-color: #008a8a;
  --fg: #ffffff;
  &[amoled='true'] {
    --bg-surface: #000000;
    --bg-1: #121416;
    --bg-2: #22262d;
    --bg-3: #4d5053;
  }
}

:root {
  --bg-surface: #e8e9e9;
  --bg-1: #d2d3d4;
  --bg-2: #bcbdbe;
  --bg-3: #5f6060;
  --fg: black;
  --border-color: #46ffff;
  --surface-a: #008a8a;
  --surface-b: #008a8a;
  --surface-c: #43c2c2;
  --surface-d: #46ffff;
  --surface-e: #c0ffff;
  --surface-f: #ffffff;
  --text-color: #212529;
  --text-color-inverse: #f6fbff;
  --text-color-secondary: #6c757d;
  --primary-color-hover: #003f3f;
  // --primary-color: #008a8a;
  --primary-color: #008a8a;
  --primary-color-card-bg: #00eeee;
  --primary-color-card-bg-text: #ffffff;
  --primary-color-bg-hover: #023b3b;
  --primary-color-fg-hover: #ffffff;
  --primary-color-bg-active: #023b3b;
  --primary-color-fg-active: #ffffff;
  --primary-color-text-on-bg: #ffffff;
  --primary-color-text: #008a8a;
  --font-family-primary: 'InterDisplay', system-ui, arial, sans-serif;

  //'Placard Next',
  --font-family-secondary: 'InterDisplay', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  /* --font-family-primary: 'Pretendard Variable'; */
  --surface-0: #ffffff;
  --surface-50: #f9fafb;
  --surface-100: #f8f9fa;
  --surface-200: #e9ecef;
  --surface-300: #dee2e6;
  --surface-400: #ced4da;
  --surface-500: #adb5bd;
  --surface-600: #6c757d;
  --surface-700: #495057;
  --surface-800: #343a40;
  --surface-900: #212529;
  --gray-50: #f9fafb;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 2px;
  --surface-ground: #c0ffff;
  --surface-section: #c0ffff;
  --surface-card: #c0ffff;
  --surface-overlay: #c0ffff;
  --surface-border: #c0ffff;
  --surface-hover: #c0ffff;
  --maskbg: rgba(0, 0, 0, 0.4);
  --focus-ring: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);

  &[theme='dark'] {
    @include darktema;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not([theme='light']) {
    // --primary-color: #ad1457;
    @include darktema;
  }
}

body {
  background-color: var(--bg-surface);
  color: var(--fg);
}
