<p-toast [style]="{ maxWidth: '90%' }" [position]="'bottom-center'"></p-toast>

<ng-template #header>
</ng-template>
<router-outlet></router-outlet>
<lotus-web-fullscreen-loading-indicator
  group="essential"
></lotus-web-fullscreen-loading-indicator>
<!-- <div class="flex flex-column" style="height: 100dvh; width: 100dvw">
  <div class="flex-grow-1">
    <img
      src="https://media.tenor.com/a5XWMHh6zCkAAAAM/car-bounce.gif"
      height="100%"
      width="100%"
    />
  </div>
  <div class="flex-grow-0">
    <input type="text" style="width: 100%" />
  </div>
</div> -->
